.active {
    display: block;
}

.stick-btn {
    border-radius: 100%;
    background-color: $white;
    position: fixed;
    bottom: .5rem;
    right: 1.5rem;
    opacity: .7;
    @include e(img) {
        width: 70px;
        height: 70px;
    }
}

.btn-transition {
    background-image: url(../../../assets/img/svg/icons/angle-down-solid.svg);
    background-size: 50px 50px;
    transition: .4s;
}