.active {
    display: block;
}

.stick-btn {
    border-radius: 100%;
    background-color: $white;
    position: fixed;
    bottom: .5rem;
    right: 1.5rem;
    opacity: .7;
    @include e(img) {
        width: 70px;
        height: 70px;
    }
}