$phFontSize: 1.5rem;
$tabFontSize: 1.25rem;
$baseFontSize: 1rem;
$imgPath: "../../../../img/";

$baseColor: #f63854;
$white: #fff;
$black: #000;
$gray:  rgb(243, 243, 243);
$muliFont: 'Muli', sans-serif;
$latoFont: 'Lato', sans-serif;