.textarea {
    border: 2px solid $gray;
    width: 100%;
    resize: none;
    padding: 1rem;
    margin-bottom: 1rem;
    &:focus {
        box-shadow: 0 0 10px $gray;
        transition: .4s;
    }
    &::placeholder {
        text-transform: uppercase;
        font-weight: 700;
    }
}