.event-menu-block {
   @include column;
   text-align: center;
    padding: 2rem 1rem 4rem 1rem;
    &_graybg {
        background-color: $bgray;
    }
    &__heading {
       @include heading;
    }
    &__subheading {
       @include subheading;
    }
}

.event-menu-block-container {
   @include column;
    text-align: center;
    padding: .5rem 0;
    &__img {
        width: 100%;
        height: 100%;
    }
   
}

.event-menu-block-container-img-box {
    @include column;
    background: url('../../../assets/img/products_background.jpg') no-repeat;
    background-size: cover;
    color: $white;
    padding: 4rem 1rem;
    width: 100%;
    position: relative;
    &_nobg {
        background: none;
        color: $gray;
        background-color: $white;
        padding: 2rem 1rem;
    }
    &__name {
        @include heading($white, 2rem)
    }
    &__dish {
        @include subheading(2rem, 1rem, $white);
        &_nobg {
            @include subheading(2rem, 1rem, $gray)
        }
    }
    &__price {
        color: $white;
        background-color: $red;
        font-size: 1.5rem;
        font-weight: 700;
        width: 100px;
        padding: .5rem 0;
        box-shadow: 3px 3px 15px $black;
        border-radius: 5px;
        position: absolute;
        top: -1.5rem;
    }
    &__text {
        padding: 1rem;
        line-height: 1.5rem;
    }
}