.header-menu-list {
    display: none;
    padding: .5rem;
    width: 100%;
    position: absolute;
    top: 7rem;
    left: 0;
    z-index: 10;
    &__item {
        color: $white;
        background-color: $gray;
        text-transform: uppercase;
        border: .5px solid $white;
        display: flex;
        &_link {
            border: 0;
            width: 100%;
            padding: 1rem;
        }
    }
}